body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(../images/BGConnexion.jpg) no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
}
* {
    box-sizing: border-box;   
}

body > div, body > input[type=radio] {
    display: none;   
}
        
input[type=radio]:checked + div {
    display: block;   
}
        
#logScreen {
    position:relative;
    width: 100%;
    height: 100%;
}

#bclobby{
	position:relative;
	margin:auto;
	width:400px;
	height:300px;
	top:320px;
}

#rejoindre{
	position:relative;
	height:100%;
	width:50%;
	float:right;
}

#creer{
	position:relative;
	height:100%;
	width:50%;
	float:left;
}

#bclobby input{
	   width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: transparent;
     box-shadow: 0px 0px 2px grey;
     border:none;
}

#bclobby div{
	   padding:2px;
}

#creer:hover{
	   background:url(../images/avatar2.png) no-repeat;
	   background-position:center 25%;
}

#rejoindre:hover{
	   background:url(../images/avatar4.png) no-repeat;
	   background-position:center 25%;
}

#menu {
    width: 710px;
    height: 600px;
    margin: auto;
    position: relative;
    background-color: rgba(181,224,231,0.5);
    padding: 5px;
    margin-top: 100px;
    box-shadow: 0px 0px 2px grey;
}

#log {
	position:relative;
	float:left;
	height:90%;
	width:50%;
}

#formulaire {
    position: relative;
    width: -moz-fit-content;
    height: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 2px grey;
    text-align: center;
    margin: auto;
    top: 16%;
}

#formulaire div{
	margin:5px;
	padding-left:5px;

}

#formulaire h2{
	text-align:center;
}

#formulaire .bouton {
    display: inline-block;
    border: solid 1px white;
    padding: 1vh 2vh;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: auto;
    box-shadow: 0px 0px 5px white;
}

#bcConnexion {
    position: relative;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 2px grey;
    text-align: center;
    margin: auto;
    padding: 5px;
    top: 20px;
}

#bcNomPartie{
    width: fit-content;
    height: fit-content;
    position: relative;
    box-shadow: 0px 0px 2px grey;
    text-align: center;
    padding: 15px;
    margin: auto;
    top: 10%;
}

#bcNomPartie p{
    margin-top:0;
}

#options{
    position: relative;
    float: right;
    height: 90%;
    width: 50%;
}

#param{
    position: relative;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 2px grey;
    margin: auto;
    padding: 10px;
    top: 50px;
    text-align: center;
}

#invite {
    position: absolute;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 2px grey;
    margin: auto;
    top: 30vh;
    left: 40vw;
    padding: 10px;
    text-align: center;
}

#btnJouer {
    width: 100%;
    border: none;
    margin-top: 6px;
}
#btnJouer:hover{
    border: 1px solid #ca4a21;
}

.connexion{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.bcAvatar{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
}


.choixAvatar{
	margin:auto;
    min-width: 150px;
}

.arrowLeft{
	position:relative;
	transform:rotate(0.5turn);
	top:-15px;
}

.arrowRight{
	position:relative;
	top:-15px;
}

#createGame{
    position: relative;
text-align: center;
width: -webkit-fill-available;
border: none;
top: 28px;
width: -moz-available;
}

#createGame:hover{
    border: 1px solid #ca4a21;
}

#logParam {
	background: url(../images/BGConnexion.jpg);
    background-size:cover;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#connexion input{
        padding: 3px;
    font-size: 80%;
    width: 100%;
}

#creePartie{
	width:100%;
	height:10%;
	top:90%;
	position:relative;
	text-align:center;
}

#creePartie input{
	text-align:center;
	position:absolute;
}
/*#creePartie input[type=button]{
	position:relative;
    padding: 3px;
    font-size: 80%;
    margin: auto;
}*/

#logGame {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* background-image: url(../images/BackG_main.jpg); */
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    
}

.containerGame {
    background-color: #ffffff;
    width: 1500px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
}
#gameHeader{
    border: 3px solid black;
    opacity: 0.6;
    width: 100%;
    height: 10%;
    position: relative;
    float: left;
}

#gameHeader #nom{
    float: right;
    border: 3px solid black;
    margin: 5px;
    width: 293px;
    text-align: center;
    padding: 9px;
}

#gameHeader #nom p{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    font-size: xx-large;
    margin: 0;
}

#toolbox {
    position: relative;
    left: 161px;
    border: 3px solid #666666;
    width: 506px;
    height: 50px;
}

#gameHeader p{
    width: -moz-fit-content;
    float: left;
}

#gauche{
    border: solid #666666;
    border-width: 0px 3px 3px 3px;
    width: 346px;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    float: left;
}

#playerList{
    width: 100%;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    line-height: 1.2;
    display: inline;
    float: left;
}

#bcLanceGame{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
    border: solid #666;
    border-width: 3px 0 0 0;
    float: left;
}

#lanceGame{
    position: relative;
    width: 100%;
    height: 100%;
}

.player{
    background-color: #ffffff;
	border: 3px solid black;
	width: 100%;
	height: 60px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

.find {
    border:3px solid green;
    background-color: forestgreen;
}

.lost{
    border:3px solid red;
    background-color: firebrick;
}

.rank{
    position: relative;
    display: inline;
    border: 1px solid black;
    float: left;
    margin: 2px;
    font-size: xx-large;
    font-weight: bolder;
    padding: 5px;
}
.name{
    width: 150px;
position: relative;
display: inline;
margin: 10px 2px;
float: left;
font-family: monospace;
font-size: larger;
font-weight: 600;
padding: 10px 0px;
}

.score{
    max-width: 70px;
    position: relative;
    display: inline;
    margin: 10px 2px;
    float: right;
    font-family: monospace;
    font-size: x-large;
    font-weight: 500;
    padding: 10px 0px;
}
#playerList .avatar{
    position: relative;
    display: inline;
    float: left;
    margin: 2px;
    height: 50px;
}
#text p{
    margin:0;
}

#text{
    height: 90%;
    width: 295px;
    position: relative;
    overflow-y: auto;
    line-height: 1.2;
    padding: 2px;
    overflow-x: hidden;
}


#textList {
    border: solid #666666;
    border-width: 0px 3px 0px 3px;
    width: 300px;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    float: right;
}

#send {
    border: solid #666666;
    border-width: 3px 0px;
    width: 100%;
    height: 10%;
    position: relative;
    box-sizing: border-box;
    vertical-align: bottom;
}
#dessinateur{
    position: relative;
    width: 854px;
    height: 630px;
    float: left;
    border: solid #666666;
    border-width: 0px 0px 3px 0px;
}

#canvas{
    width: 100%;
    height: 530px;
    margin-top: 20px;
}

#dessinateur canvas {
    cursor: none;
    border: solid 1px #000;
    position: absolute;
}
#dessinateur canvas#overlay {
    opacity: 0.8;
    left:163px;
}
#dessinateur canvas#dessin {
    background-image: url('../images/bgDessin.png');
    background-size: 50px 50px;
    background-repeat: repeat;
    left:163px;
}

#divInformation {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 2px grey;
    background-color: rgba(56, 103, 169, 0.86);
    z-index: 10;
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: monospace;
    display: none;
}

#divInformation p {
    margin:2px;
}

.boxChoix{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 200px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    border: solid 2px #000;
}
.boxChoix:hover{
    background: whitesmoke;
}



/** TOOLBOX **/
#toolbox > * {
    position: relative;
    width: 40px;
    box-sizing: border-box;
    height: 40px;
    background-size: cover;
    float: left;
    margin: 2px;
}
#toolbox input:not([type=range]) {
    display: none;
}

#toolbox label[for=aide] {
    float: right;
    background-image: url(../images/help.png);
}

#helpOK{
    position: relative;
    text-align: center;
    height: 120px;
    width: 150px;
    border: 1px solid #666666;
    font-size: 100px;
    display: none;
}

#toolbox input[type=range] {
    margin: 0;
}
#toolbox label[for] {
    border: solid 1px #000;
}   
#toolbox label[for=tracer] {
    background-image: url(../images/icone-pinceau.png);   
}
#toolbox label[for=gommer] {
    background-image: url(../images/icone-gomme.png);   
}
#toolbox label[for=ligne] {
    background-image: url(../images/icone-trait.png);   
}
#toolbox input:checked + label[for] {
    box-shadow: blue 0 0 5px;
}
